* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
}

body {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #1890ff;
    border: 1px solid #1890ff;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFF;
}

.btn-outline {
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #FFF;
    color: #595959;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

/* main */

.main {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.banner {
    margin-bottom: 56px;

}



.banner-item {
    background-image: url(/images/banner/banner-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    border-radius: 10px;
    padding: 68px;
    background-color: #FFF1B8;

}

.banner-item-title {
    font-weight: 700;
    font-size: 39px;
    color: #302c34;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item-subtitle {
    font-weight: 400;
    font-size: 24px;
    color: #302c34;
    max-width: 50%;
    margin: 0;
}



/* product */

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.product-header-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    color: #302c34;

}

.product-header-searh {
    min-width: 306px;
    padding: 5px 12px;
    border: 1px solid #d9d9d9;

}

.product-header-searh:focus {
    outline: none;
    border: 1px solid #d9d9d9;
}

.product-header-searh::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #d9d9d9;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
    margin-top: 44px;
    margin-bottom: 90px;
}

.product-card {
    width: calc((100% - 48px) / 3);
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-decoration: none;
}

.product-card-img {
    width: 100%;
}

.product-card-img img {
    width: 100%;
}

.product-card-description {
    padding: 20px 24px 34px 24px;
}

.product-card-description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product-card-description-row:not(:last-child) {
    margin-bottom: 10px;
}

.product-card-description-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #000;
    margin: 0;
}

.product-card-description-badge {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #FFF;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
    width: 56px;
    height: 22px;
}


.product-card-description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 25px;
}

.product-card-description-raiting {
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #ffc107;
}

.product-card-description-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #8c8c8c;
}

.product-card-description-group {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #8c8c8c;
    position: relative;
}

.product-card-description-group::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #8c8c8c;
    position: absolute;
    left: -14px;
    top: 14px;
}

.product-card-description-row-name {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #8c8c8c;
}

.product-card-description-row-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #d9d9d9;
}

.product-card-description-control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1px;
    column-gap: 30px;
}

.product-card-description-control-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #000;
}

/* Modal windows */

.card-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.45);
}

.card-modal-overlay.open {
    display: flex;
}

.card-modal {
    width: 100%;
    max-width: 780px;
    border-radius: 5px;
    padding: 40px 45px;
    background: #FFF;

}

.card-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.card-modal-header-title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}

.card-modal-header-close {
    cursor: pointer;
}

.card-modal-body {}

.card-modal-body-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;


}

.card-modal-body-item:not(:last-child) {
    padding-bottom: 10x;
    margin-bottom: 17px;
    border-bottom: 1px solid #d9d9d9;
}

.card-modal-body-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #8c8c8c;
    margin: 0;
}

.card-modal-body-item-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-modal-body-item-controls-price {
    font-size: 20px;
    line-height: 160%;
    color: #000;
    margin: 0;
    margin-right: 47px;
}

.btn-quantity {
    border: 1px solid #1890ff;
    border-radius: 2px;

    width: 36px;
    height: 32px;
    background: #FFF;
    color: #1890ff;
}



.card-item-controls-count {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #262626;
}

.card-modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.card-modal-footer-price {
    border-radius: 5px;
    padding: 15px 20px;
    width: 106px;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    background: #302c34;
}

.card-modal-footer-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}



/* footer */

.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
    flex-wrap: wrap;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.footer-nav ul li {
    font-weight: 400;
    font-size: 18px;
    color: #595959;
    text-decoration: none;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}

@media (max-width: 991px) {
    .banner-item {
        background-image: none;
    }

    .banner-item-title {
        max-width: 100%;
    }

    .banner-item-subtitle {
        max-width: 100%;
    }

    .product-card {
        width: calc((100% - 24px) / 2);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
    }
}