
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    height: 124px;
    border: 1px solid #f00;
}

.header-box {
    border: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;

}
.footer {
    height: 156px;
    border: 1px solid #f00;
}

.footer-box {
    border: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    flex-grow: 1;
}
